@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/variables";

.nav{
    display: flex;
    flex-direction: column;
    @include desktop {
        display: none;
    }
}
.header{
    height: 100vh;
    position: fixed;
    z-index: 2;
    &_wrapper{
        display:flex;
        justify-content: space-between;
        &_desktop{
            display:flex;
        }
    }
    

}
.header_list{
    height: 80vh;
    width: 100vw;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #433c3c;
    padding: 0 4rem 0 0;
    &_item{
        color: #bfbebe;
        margin-left: 2rem;


        a {
            color: inherit; /* Inherit color from parent */
            text-decoration: none; /* Remove underline */
        }
    }
    &_item:hover{
        color: #64ffda;
    }

}
.menu {
    height: 50px;

    &_alt{
        display: none;
    }

}

.close {
    height: 50px;
    position: absolute;
    right: 0;
    z-index: 10;
    &_alt{
        display: none;
    }
}


.header.active {
    display: none;
}

.nav_desktop{
    display: none;
    @include desktop {
        display: flex;
        justify-content: space-between;

        &_list{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            align-items: center;
        }
    }
}

.logo{
    height: 50px;
    z-index: 10;
    &_desktop{
        height: 4.68rem;
    }
}